body {font-family: Arial, sans-serif;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;}

h1 {
    margin-bottom: 20px;
}

input {padding: 10px;
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;}

button {padding: 10px 18px;
    background: #2563eb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;}

button:hover {background: #1d4ed8;}
