body {font-family: Arial, sans-serif;
    background-color: #cdcbcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;}

h2 {
    margin-bottom: 20px;}

.form-linha {
    margin: 10px 0;}

label {display: inline-block;
    width: 150px;
    font-weight: bold;}

input {padding: 8px;
    width: 220px;
    border-radius: 8px;
    border: 1px solid #ccc;}

button {margin-top: 10px;
    padding: 10px 20px;
    background: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;}

button:hover {
    background: #e4ef0e;}

#resultado {
    margin-top: 20px;}
