body {font-family: Arial, sans-serif;
    background-color: #c1c1c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;}

h2 {margin-bottom: 20px;}

.linha {margin: 10px 0;}

label {width: 160px;
    display: inline-block;
    font-weight: bold;}

input {padding: 8px;
    width: 230px;
    border-radius: 8px;
    border: 1px solid #94a3b8;}

button {margin-top: 15px;
    padding: 10px 20px;
    background: #000000;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;}

button:hover {background: #4338ca;}

#mensagem {margin-top: 20px;
    font-size: 20px;}
